pkgbase = pgyvisitor-bin
	pkgdesc = Suitable for business personnal long-distance intelligent network access
	pkgver = 6.2.0
	pkgrel = 1
	url = https://pgy.oray.com/download/
	install = pgyvisitor-bin.install
	arch = x86_64
	license = custom
	conflicts = pgyvpn
	conflicts = pgyvpn-bin
	source = LICENSE::https://service.oray.com/question/1820.html
	source = pgyvisitor.service
	source = PgyVisitor_6.2.0_x86_64.deb::https://pgy.oray.com/softwares/153/download/2156/PgyVisitor_6.2.0_x86_64.deb
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = e062a592f1f127fa589f6919b3c6e96b71e403854d22d30d75b2cd753c45f2bc

pkgname = pgyvisitor-bin
